* {
  box-sizing: border-box;
}

body {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #6a93cb;
  background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
}

input {
  background-color: #009ffd;
  border-radius: 10px;
  padding: 1rem;
  color: #fff;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: 2rem;
  outline: none;
  box-shadow: inset 0 -3em 3em #cb6ac61c, 0 0 0 2px #2a2a72,
    0.3em 0.3em 1em #cb6ac62a;
}

input::placeholder {
  color: rgb(212, 212, 212);
}

.card {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  display: flex;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(2, 2, 2, 0.39), 0 15px 40px rgba(0, 0, 0, 0.493);
  max-width: 800px;
}

/* .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #2a2a72;
}

.user-info {
  color: rgb(0, 0, 0);
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
  list-style-type: none;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  background-color: #2a2a72;
  display: inline-block;
  color: white;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-size: 0.6rem;
  border-radius: 5px;
}
